@font-face {
  font-family: "Fascinate";
  src: url("Fascinate-Regular.ttf");
}

body {
  background-color: black;
}

.headerStack {
  position: relative;
  width: 100%;
}

.header {
  display: flex;
  height: 30%;
  justify-content: center;
  width: 90%;
}

#curtains {
  display: flex;
  height: auto;
  justify-content: center;
  margin-top: -160px;
  margin-bottom: -430px;
  pointer-events: none;
  right: 0;
  width: 100%;
  z-index: -1;
}

#movieLight {
  margin-top: -3.5px;
  position: absolute;
  right: 0;
  width: 61%;
  z-index: -1;
}

#title {
  font-family: "Fascinate";
  font-size: x-large;
  position: relative;
  top: 52px;
}

.movie-title {
  font-family: "Fascinate";
}

#movie-grid {
  color: white;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.movie-votes-stack {
  display: flex;
  justify-content: left;
}

.pop-corn {
  padding: 10px;
}

.popup {
  background-color: rgb(250, 250, 250);
  height: 0;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 100%;
  z-index: 1;
}

.popup-content {
  margin-top: 30px;
  position: relative;
  text-align: center;
  top: 10%;
  width: 100%;
}

.popup a {
  color: black;
  display: block;
  font-size: 36px;
  padding: 8px;
  text-decoration: none;
  transition: 0.3s;
}

@media screen and (max-height: 450px) {
  .popup a {
    font-size: 20px;
  }

  .popup .xbtn {
    font-size: 40px;
    right: 35px;
    top: 15px;
  }
}

.movie-poster {
  height: auto;
  width: 100%;
}

.movie-poster:hover {
  transform: scale(1.16);
  transition: 0.5s;
}

#load-more {
  display: flex;
  justify-content: center;
}

#load-more-movies-btn {
  background-color: brown;
  font-family: "Fascinate";
}

#trailer-header {
  color: brown;
  font-family: "Fascinate";
  font-size: xx-large;
}

#description-header {
  color: brown;
  display: flex;
  font-family: "Fascinate";
  font-size: large;
  justify-content: left;
  padding-left: 25%;
}

.caption {
  display: flex;
  justify-content: left;
  padding-left: 25%;
  padding-right: 25%;
  text-align: left;
}