@font-face {
    font-family: "Fascinate";
    src: url("Fascinate-Regular.ttf");
    }

body{
    background-color:black;
}

.headerStack{
    position: relative;
    width:100%
}
.header{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    width: 90%;
    height: 30%;
}
#curtains{
    display: flex;
    justify-content: center;;
    right: 0;
    margin-top: -160px;
    margin-bottom: -430px;
    width: 100%;
    height: auto;
    z-index: -1;
}
#movieLight{
    position: absolute;
    right: 0;
    margin-top: -3.5px;
    width: 61%;
    z-index: -1;
}

#title{
    font-family: "Fascinate";
    font-size:x-large;
    position: relative;
    top: 52px;
}

.movie-title{
    font-family: "Fascinate";
}

#movieGrid{
    display:grid;
    color: white;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
    /* padding: 10px; */
}

.movie-vote{
    display: flex;
    justify-content: left;
}

.pop-corn{
    padding: 10px;
}

.popup {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(250,250,250);
    overflow-x: hidden;
    transition: 0.5s;
 }

 .popup-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

.popup a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
  }

  @media screen and (max-height: 450px) {
    .popup a {font-size: 20px}
    .popup .xbtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

  .movie-poster{
    width: 100%;
    height: auto;
  }

  .movie-poster:hover {
    transform:scale(1.16);
    transition: 0.5s;
  }
  #load-more{
    display: flex;
    justify-content: center;
  }
  #load-button{
    font-family: "Fascinate";
    background-color: brown;
  }

